@import 'base.css';

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    background-color: var(--cor-quatro);
    margin: 1.5%;
    border-radius: 2rem;
    box-shadow: 8px,8px,8px, rgba(0,0,0,0.2);
}


.registro, .radiais{
    margin: 1rem;
}

.registro-subtitulo{
    padding: 0.5rem 0 0 0;
}

.inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
    padding: 3rem 0;
    
}

.inputs-campo{
    padding: 0.5rem 0;
}

.inputs-campo_nome , .inputs-campo_email{
    width: 14rem;
}

.inputs-campo_sobrenome{
    width: 11rem;
}

.radiais-opcoes , .seletora , .container-caixinhas-tecnologia_opcoes, .texto , .botao{
    padding: 1rem 0;
}

.caixinhas{
    border: none;
}


.container-caixinhas-tecnologia_opcoes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    
    
}

.texto-caixa{
    border: none;
}

.texto-titulo{
    width: 90%;
}






input, select, textarea,button{
    border-color:var(--cor-seis) ;
    border-radius: 5px;

}





.campo input[type="text"],.campo input[type="email"],.campo select, .campo textarea{
    padding: 0.2em;
    border: 1px solid var(--cor-seis);
    box-shadow: 2px,2px,2px, rgba(0,0,0,0.2);
    display: block;

}


 .inputs-campo_nome:focus, .inputs-campo_sobrenome:focus , .inputs-campo_email:focus , .seletora-senioridade_opcao_item_item:focus {

background: var(--cor-quatro);

}

@media screen and (max-width:200px){
    .card{
        margin: 0;
        border-radius: 0;
    }

    .texto-caixa{
        width: 5rem;
    }
}

@media screen and (max-width:400px){
    body{
        background-color: var(--cor-quatro);
    }

    .inputs{
    padding: 0;
    }

    .texto-caixa{
        width: 70%;
        height: 12rem;
    }

    fieldset{
    border: 0;
}

}


@media screen and (min-width:800px){
    .card{
        margin: 20% 10%;
        padding: 4rem;

    }

    .texto-caixa{
        width: 75%;
        height: 12rem;
    }

}



